<div class="header">
    <app-header></app-header>
</div>

<div class="page-hero">

  <div class="hero-content">

    <h1>
      @if (!city) {
        {{"projects_sec.title" | translate}}
      } @else if (city == 'makkah') {
        {{lang == "ar" ? 'مشاريعنا في مكة' : "Makkah Projects"}}
      } @else if (city == 'madena') {
        {{lang == "ar" ? 'مشاريعنا في المدينة المنورة' : "Al Madinah Projects"}}
      } @else {
        {{lang == "ar" ? 'مشاريعنا في جدة' : "Jeddah Projects"}}
      }
    </h1>
    <div class="hero-bar"></div>
  </div>

</div>

<div class="container p-60">
    <div class="row gy-4">
        @for(project of projects ; track $index){
        <div class="col-lg-4 col-md-6 col-12">
            <app-card [project]="project"></app-card>
        </div>
        }
    </div>
</div>


<app-footer></app-footer>