<section class="values-section py-5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- العناصر -->
      <div class="">
        <div class="values-box">
          <div class="value-item" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa-solid fa-medal"></i></div>
            <h3>{{"quamn.q1.name" | translate}}</h3>
            <p>
              {{"quamn.q1.des" | translate}}
            </p>
          </div>

          <div class="value-item" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa-solid fa-rocket"></i></div>
            <h3>{{"quamn.q2.name" | translate}}</h3>
            <p>{{"quamn.q2.des" | translate}}</p>
          </div>

          <div class="value-item" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="fa-solid fa-lightbulb"></i></div>
            <h3>{{"quamn.q3.name" | translate}}</h3>
            <p>
              {{"quamn.q3.des" | translate}}
            </p>
          </div>

          <div class="value-item" data-aos="fade-up" data-aos-delay="700">
            <div class="icon"><i class="fa-solid fa-handshake"></i></div>
            <h3>{{"quamn.q4.name" | translate}}</h3>
            <p>{{"quamn.q4.des" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>