<div class="landing">
  <div class="header position-relative ">
    <app-header></app-header>
  </div>
  <div class="lay "></div>

  <div class="cont">
    <div class="hero_text">
      <h1 class="d-flex flex-column gap-3">
        <span class="s1 mb-2"> {{'landing.name' | translate}}</span>
        <span>
          <span class="s2">{{'landing.s1' | translate}}</span> <span class="s3">{{'landing.s2' | translate}}</span>
        </span>
      </h1>

      <div class="btns">
        <button class="proj_btn" routerLink="/projects">{{'landing.btn1' | translate}}</button>
        <button class="contact_btn" routerLink="/contact">{{'landing.btn2' | translate}}</button>
      </div>
    </div>

  </div>

  <img src="assets/down.svg" alt="" class="wave">

</div>

