<div class="partners-section">
  <div class="section-title">
    <h2>{{ lang === 'ar' ? 'شركاء النجاح' : 'Partners' }}</h2>
  </div>

  <!-- Row 1: يمشي لليسار -->
  <div class="swiper" #swiperRef1>
    <div class="swiper-wrapper">
      @for (part of partners; track $index) {
        <div class="swiper-slide">
          <div class="partner-card">
            <img [src]="url + part.imagePath" alt="partner" loading="lazy" />
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Row 2: يمشي لليمين -->
  <div class="swiper swiper--row2" #swiperRef2>
    <div class="swiper-wrapper mt-3">
      @for (part of partners; track $index) {
        <div class="swiper-slide">
          <div class="partner-card">
            <img [src]="url + part.imagePath" alt="partner" loading="lazy" />
          </div>
        </div>
      }
    </div>
  </div>
</div>
