
.madain{
    background: #222;
    color: #fff;
    padding: 20px 0;
    position: relative;
}
img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}


@media(max-width:400px){

    .madain img{
        width: 70px;
    }
}