<section>

  <div style="background: var(--blue2)">
    <app-header></app-header>
  </div>
  <div class="header d-flex flex-column gap-4">
    <h1>{{ "contact_sec.title" | translate }}</h1>

    <div class="contact-section">
      <button class="meeting-btn" (click)="openMeetingModal()">
        طلب اجتماع
      </button>
    </div>

    @if(isMeetingOpen){

    <div class="meeting-modal">
      <div class="modal-overlay" (click)="closeMeetingModal()"></div>

      <div class="modal-content">

        <div class="modal-header">
          <h2>طلب اجتماع</h2>
          <button class="close-btn" (click)="closeMeetingModal()">✕</button>
        </div>

        <form class="meeting-form" [formGroup]="meeting" (ngSubmit)="sendMeeting()">

          <div class="form-grid">

            <div class="form-group">
              <label>الاسم الكامل *</label>
              <input type="text" formControlName="name">
            </div>

            <div class="form-group">
              <label>رقم الجوال *</label>
              <input type="tel" placeholder="05xxxxxxxx" formControlName="phone">
            </div>

            <div class="form-group">
              <label>البريد الإلكتروني *</label>
              <input type="email" formControlName="email">
            </div>

            <div class="form-group">
              <label>الغرض من الاجتماع *</label>
              <input type="text" formControlName="purpose">
            </div>

            <div class="form-group full-width">
              <label>نوع العميل *</label>
              <div class="radio-group">
                <label><input type="radio" name="client" formControlName="client" value="فرد"> فرد</label>
                <label><input type="radio" name="client" formControlName="client" value="مقاول"> مقاول</label>
                <label><input type="radio" name="client" formControlName="client" value="مطور"> مطور</label>
              </div>
            </div>

            <div class="form-group full-width">
              <label>نوع الاجتماع *</label>
              <div class="radio-group">
                <label><input type="radio" name="meet" formControlName="meet" value="زيارة"> زيارة</label>
                <label><input type="radio" name="meet" formControlName="meet" value="اونلاين"> أون لاين</label>
              </div>
            </div>

            <div class="form-group">
              <label>التاريخ *</label>
              <input type="date" formControlName="date">
            </div>



          </div>

          <button type="submit" class="submit-btn">
            إرسال
          </button>

        </form>

      </div>
    </div>
    }
  </div>

  <div class="container">

    <div class="row gy-4 conections">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="item d-flex">
          <i class="fas fa-envelope"></i>
          <div class="info">
            <p class="c_title">{{ "contact_sec.info.email" | translate }}</p>
            <p>info&#64;madain.sa</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="item d-flex">
          <i class="fas fa-phone"></i>
          <div class="info">
            <p class="c_title">{{ "contact_sec.info.phone" | translate }}</p>
            <p>920016343</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="item d-flex">
          <i class="fab fa-whatsapp"></i>
          <div class="info">
            <p class="c_title">{{ "contact_sec.info.whats" | translate }}</p>
            <p>996539885580+</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="item d-flex">
          <i class="fas fa-location-dot"></i>
          <div class="info">
            <p class="c_title">{{ "contact_sec.info.loc" | translate }}</p>
            <p>{{ "contact_sec.info.address" | translate }}</p>
          </div>
        </div>
      </div>

    </div>

    <!-- form  -->

    <div class="row gy-4">
      <p class="form-title">{{ "contact_sec.form.title" | translate }}</p>
      <div class="col-lg-6 col-12">
        <form class="form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">

          <div class="input-container">
            <label for="">{{'contact_sec.form.name' | translate}}<span>*</span></label>
            <input type="text" formControlName="name"
              [ngClass]="{'invalid': submited || (name?.invalid && name?.touched),'valid': name?.valid && name?.dirty}" />
          </div>

          <div class="input-container">
            <label for="">{{'contact_sec.form.email' | translate}}<span>*</span></label>
            <input type="text" formControlName="email" [ngClass]="{'invalid': submited || (email?.invalid && email?.touched),'valid': email?.valid && email?.dirty}"/>
            @if(contactForm.get('email')?.errors?.['pattern']){
            <span class="error">{{"contact_sec.error" | translate}}</span>
            }
          </div>

          <div class="input-container">
            <label for="">{{'contact_sec.form.subject' | translate}}<span>*</span></label>
            <input type="text" [placeholder]="" formControlName="subject" [ngClass]="{'invalid': submited || (subject?.invalid && subject?.touched),'valid': subject?.valid && subject?.dirty}"/>
          </div>

          <div class="input-container">
            <label for="">{{'contact_sec.form.message' | translate}}<span>*</span></label>
            <textarea formControlName="message" [ngClass]="{'invalid':submited || (message?.invalid && message?.touched),'valid': message?.valid && message?.dirty}"></textarea>
          </div>

          <button type="submit" class="submit" >
            {{ "contact_sec.form.send" | translate }}
          </button>
        </form>
      </div>

      <div class="col-lg-6 col-12 px-3">
        <div class="box text-white  mt-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18262.330516526992!2d39.17402613649857!3d21.5686729887646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d3fbf61e3c89%3A0x72e252331782d569!2z2LTYsdmD2Kkg2YXYr9in2KbZhiDYp9mE2LnZgtin2LHZitip!5e1!3m2!1sar!2ssa!4v1776844936488!5m2!1sar!2ssa"
            class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Toast Message -->
@if(toastMessage){
<div class="custom-toast">
  {{ "contact_sec.toastMessage" | translate }}
</div>
}

<app-footer></app-footer>