<section class="">
  <div class="container">
    <div class="row gy-5 align-items-stretch">
      <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-left">
        <div class="box ps-lg-3 ps-0">
          <h2 class="">
            {{ "vesion.title" | translate }}
          </h2>
          <p class="p">
            {{ "vesion.des" | translate }}
          </p>

          <div class="row gy-5 align-items-stretch">
            <div class="col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
              <div class="item">
                <i class="far fa-eye"></i>
                <h3>{{ "vesion.ves" | translate }}</h3>
                <p>
                  {{ "vesion.ves_des" | translate }}
                </p>
              </div>
            </div>
            <div class="col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
              <div class="item">
                <i class="fa-regular fa-envelope"></i>
                <h3>{{ "vesion.message" | translate }}</h3>
                <p>
                  {{ "vesion.message_des" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12 order-lg-0 order-0 " data-aos="fade-right">
        <div class="img_cont ">
          <img
            src="../../../../assets/Artboard 1.png"
            alt="house"
            loading="lazy"
          />
        </div>


      </div>
    </div>
  </div>
</section>